/* ...
*= require_self
*= require_tree .
*/

article#content {
  margin-top: 55px;
  background-color: rgba(255, 255, 255, .7);
  min-height: 500px;
}

li.private, form.private {
  display: none;
}

.wave {
  background-image: url("waves.png");
  width: 100%;
  height: 238px;
  position: fixed;

}

#wave1 {
  bottom: 0px;
  z-index: -1;
}

#wave2 {
  bottom: 100px;
  z-index: -2;
}

#wave3 {
  bottom: 200px;
  z-index: -4;
}

#pirateship{
  background-image: url('pirateship.png');
  background-size: 450px 349px;
  width: 450px;
  height: 349px;
  z-index: -3;
  position: fixed;
  bottom: 280px;
  left:100px;
}

#logout {
  margin-top: 7px;
}
